
.services{
text-align: center;
background-color: #f4f8fb;
padding: 20px 0 30px 0;
}
.services h4{
color: #01a998  ;
}
.cov_service{
  display: grid;
  grid-template-columns: 25% 25% 25%;
  gap: 15px;
  justify-content: center;
height: auto;
}
.service{
text-align: start;
background-color: #fff;
border-radius: 12px;
padding: 15px 0 0px 20px;
height: fit-content;


  
}

.service img{
  width: 30px;

  
}
.service h3{
  width: 80%;
  font-size: 15px;
}
.service p{
  width: 95%;
  font-size: 12px;
  max-height: 35px;
}
.service h6{
  
}
@media(max-width:920px) {
  .cov_service{
    grid-template-columns: 40% 40%;
  }

}
@media(max-width:720px) {
  .cov_service{
    grid-template-columns: auto;
    grid-template-rows: auto ;
  }

}
