.navbar {
  display: block;
}

.nav_cover {
  display: grid;
  grid-template-columns: 1fr 5fr 2fr;
}

.logo {
  color: #01a998;
  margin: auto;
  font-weight: bold;
}

.links {
  display: flex;
}
.icon {
  width: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  position: absolute;
  left: 83%;
  top: 18px;
  display: none;
  cursor: pointer;

}
.icon:hover span:nth-child(2) {
  width: 100%;
  transition: .5s;
}




.icon span {
  background-color: #333;
  margin-bottom: 5px;
  height: 2px;
}

.icon span:first-child {
  width: 100%;
}

.icon span:nth-child(2) {
  width: 60%;
}

.icon span:nth-child(3) {
  width: 100%;
}




li {
  list-style: none;
  margin: 0 12px 0 0;
}

a {

  display: block;
padding: 5px;
text-decoration: none;
color: #333;
transition: .5s;
}

a:hover {
  color: #01a998;
}

.login {
  display: flex;
}

.login_submit {
  width: 110px;
  height: 40px;
  margin: 10px 3px auto;
  color: #fff;
  background-color: #01a998;
  border-radius: 17px;
  cursor: pointer;
  border: 1px solid #0000001a;
}

.login_submit[type=submit]:focus {
  border: 0;
}

.login_submit:nth-child(1) {
  background-color: #fff;
  color: black;
}

.login_submit:nth-child(1):hover {
  color: #fff;
  background-color: #01a998;
}
@media(max-width:920px) {
  .links{
    display: none;
    transition: 4s;
  }
  .newclass {
    display: block;
    position: absolute;
    left: 58%;
    top: 30px;
    background: transparent;
    
  }
  .icon{
    display: inline-flex;
  }
  .icon:hover .links {
    display: block;
    }
    li{
      width: 180px;
      margin-top: 2px;
      background-color: #01a998;
      height: 30px;
      border-radius: 13px;
      text-align: center;
    }
    li:hover{
      margin-top: 5px;
      height: 34px;
      transition: 1s;
    }
    a {
      color:#fff;
      line-height:15px;
    }
    a:hover {
      color: #ffffff;
    }
}
@media(max-width:535px) {

  .nav_cover {
    display: block;
  }
  .newclass{
    left: 48%;
  }
  li{
    width: 115px;
  }
  .icon{
     left: 76%;
  }
  .login {
    display: block;
    width: 20px;
    margin: 4px 0 0 0;
  }
  .logo {
    color: green;
    margin: 19px 0 0 13px;
    font-weight: bold;
  }
  
}